
<body>
  <div class="container full-height-center d-flex flex-column">
    <div class="text-center mb-4">

        <!-- Success Alert -->
  <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
    {{ successMessage }}
  </div>

  <!-- Error Alert -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
    {{ errorMessage }}
  </div>
      <h1 class="blue-label">Forget Password</h1>
    </div>
    <form  [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-3 d-flex flex-column justify-content-center align-items-center">
        <label for="exampleInputEmail1" class="form-label blue-label">Email address</label>
        <input type="email" class="form-control large-input" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
   </div>
</body>
