.large-input {
  height: 3rem;
  font-size: 1.25rem;
  width: 600px
}

.blue-label {
  color: blue;
}

.full-height-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
