.container {
  max-width: 400px;
  margin: auto;
}

h1{
  text-decoration: underline;
}
.full-height-center {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: bold;
}

.large-input {
  width: 100%;
  padding: 0.5rem;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.text-danger {
  color: red;
}
